  <div class="flex items-center justify-center grow bg-center bg-no-repeat page-bg">
    <div class="card max-w-[370px] w-full">
      <%= form_with url: sign_in_session_path, class: "card-body flex flex-col gap-5 p-10" do |form| %>
        <div class="text-center mb-2.5">
          <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">Sign in</h3>
          <div class="flex items-center justify-center font-medium">
            <span class="text-2sm text-gray-700 me-1.5">Need an account?</span>
            <%= link_to "Sign up", sign_up_registration_path, class: "text-2sm link" %>
          </div>
        </div>

        <div class="grid grid-cols-2 gap-2.5">
          <a class="btn btn-light btn-sm justify-center" href="#">
            <%= image_tag "brand-logos/google.svg", alt: "", class: "size-3.5 shrink-0" %>
            Use Google
          </a>
          <a class="btn btn-light btn-sm justify-center" href="#">
            <%= image_tag "brand-logos/apple-black.svg", alt: "", class: "size-3.5 shrink-0 dark:hidden" %>
            <%= image_tag "brand-logos/apple-white.svg", alt: "", class: "size-3.5 shrink-0 light:hidden" %>
            Use Apple
          </a>
        </div>

        <div class="flex items-center gap-2">
          <span class="border-t border-gray-200 w-full"></span>
          <span class="text-2xs text-gray-500 font-medium uppercase">Or</span>
          <span class="border-t border-gray-200 w-full"></span>
        </div>

        <% if flash[:alert] %>
          <div class="text-red-500"><%= flash[:alert] %></div>
        <% end %>
        <% if flash[:notice] %>
          <div class="text-green-500"><%= flash[:notice] %></div>
        <% end %>

        <div class="flex flex-col gap-1">
          <label class="form-label font-normal text-gray-900">Email</label>
          <%= form.email_field :email_address, 
              required: true, 
              autofocus: true, 
              autocomplete: "username", 
              placeholder: "email@email.com", 
              value: params[:email_address],
              class: "input" %>
        </div>

        <div class="flex flex-col gap-1">
          <div class="flex items-center justify-between gap-1">
            <label class="form-label font-normal text-gray-900">Password</label>
            <%= link_to "Forgot Password?", forgot_password_password_path, class: "text-2sm link shrink-0" %>
          </div>
          <div class="input" data-toggle-password="true">
            <%= form.password_field :password, 
                required: true, 
                autocomplete: "current-password", 
                placeholder: "Enter Password", 
                maxlength: 72,
                class: "w-full" %>
            <button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
              <i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden"></i>
              <i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block"></i>
            </button>
          </div>
        </div>

        <label class="checkbox-group">
          <input class="checkbox checkbox-sm" name="remember_me" type="checkbox" value="1"/>
          <span class="checkbox-label">Remember me</span>
        </label>

        <%= form.submit "Sign In", class: "btn btn-primary flex justify-center grow" %>
      <% end %>
    </div>
  </div>